/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {

	--monero-orange-0: #FFFFFF;
  --monero-orange-1: #FFF0E5;
  --monero-orange-2: #FFD4B8;
  --monero-orange-3: #FFB98A;
  --monero-orange-4: #FF9D5C;
  --monero-orange-5: #FF822E;
  --monero-orange-6: #ff6600;
  --monero-orange-7: #CC5200;
  --monero-orange-8: #993D00;
  --monero-orange-9: #662900;
  --monero-orange-10: #331400;
	--monero-gray-4c: #4c4c4c;

	--c0: var(--monero-orange-9);
  --c1: var(--monero-orange-10);
  --c2: var(--monero-orange-8);
  --c3: var(--monero-orange-7);
  --c4: var(--monero-orange-6);
  --c5: var(--monero-orange-5);
  --c6: var(--monero-orange-4);
  --c7: var(--monero-orange-3);
  --c8: var(--monero-orange-2);
  --c9: var(--monero-orange-1);
  --c10: var(--monero-orange-0);
	--g10: var(--monero-gray-4c);

	--monero-logo-color-top: var(--c4);
	--monero-logo-color-bottom: var(--g10);
	--background-color: var(--c10);
	--nav-color: var(--c2);
	--nav-color-link: var(--c2);
	--nav-color-link-active:var(--c3);
	--nav-color-link-visited: var(--c4);
	--text-color: var(--c1);
	--text-color-link: var(--c10);
	--text-color-link-active:var(--c8);
	--text-color-link-visited: var(--c9);

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c0: var(--monero-orange-0);
  --c1: var(--monero-orange-1);
  --c2: var(--monero-orange-2);
  --c3: var(--monero-orange-3);
  --c4: var(--monero-orange-4);
  --c5: var(--monero-orange-5);
  --c6: var(--monero-orange-6);
  --c7: var(--monero-orange-7);
  --c8: var(--monero-orange-8);
  --c9: var(--monero-orange-9);
  --c10: var(--monero-orange-10);
	--g10: var(--monero-gray-4c);

		--monero-logo-color-top: var(--c3);
		--monero-logo-color-bottom: var(--c4);
		--background-color: var(--c10);
		--nav-color: var(--c10);
		--nav-color-link: var(--c10);
		--nav-color-link-active:var(--c8);
		--nav-color-link-visited: var(--c9);
		--text-color: var(--c1);
		--text-color-link: var(--c5);
		--text-color-link-active: var(--c4);
		--text-color-link-visited: var(--c3);
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	/* max-width: 40em; */
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	position: relative;
}

/* Nav */
nav {
	max-width: 40em;
	margin: 0 auto;
}
.nav {
	/* display: flex; */
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin: 1em;
}
.nav-item a[href] {
	color: var(--nav-color-link);
}
.nav-item a[href]:visited {
	color: var(--nav-color-link-visited);
}
.nav-item a[href]:hover,
.nav-item a[href]:active {
	color: var(--nav-color-link-active);
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

main {
	max-width: 40em;
	margin: 0 auto;
}

footer {
	min-height: 200vh;
}
